@import url(https://fonts.googleapis.com/css?family=Open+Sans&display=swap);
@import url(https://fonts.googleapis.com/css?family=Montserrat&display=swap);
@import url(https://fonts.googleapis.com/css?family=Fira+Mono&display=swap);


:root {
  /* Fonts */
  --text-font-family: 'Open Sans';
  --text-font-family-fallback: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial;
  --text-font-base: sans-serif;
  --header-font-family: Montserrat;
  --header-font-family-fallback: Georgia, serif;
  --code-font-family: 'Fira Mono';
  /* Colors */
  --text-color: #28282B;
  --header-color: #003C71;
  --background-color: #f0f1eb;
  --link-color: #8A1538;
  --text-bold-color: #8A1538;
  --code-highlight-color: rgba(255,255,0,0.5);
  --inverse-text-color: #f0f1eb;
  --inverse-background-color: #8A1538;
  --inverse-header-color: #f0f1eb;
  --inverse-link-color: #8A1538;
  --title-slide-background-color: #003C71;
  --title-slide-text-color: #f0f1eb;
  --header-background-color: #003C71;
  --header-background-text-color: #f0f1eb;
  --primary: #003C71;
  --secondary: #8A1538;
  --white: #f0f1eb;
  --black: #28282B;
}

body {
  font-family: var(--text-font-family), var(--text-font-family-fallback), var(--text-font-base);
  font-weight: normal;
  color: var(--text-color);
  font-size: 20px;
}
h1, h2, h3 {
  font-family: var(--header-font-family), var(--header-font-family-fallback), var(--text-font-base);
  font-weight: 600;
  color: var(--header-color);
}

.remark-slide-content {
  background-color: var(--background-color);
  padding: 16px 32px 16px 32px;
  width: 100%;
  height: 100%;
}
.remark-code {
  font-size: 0.9em;
}
.remark-slide-content h1 {
    font-size: 55px;
    color: var(--text-bold-color);
}
.remark-slide-content h2 {
    font-size: 45px;
    color: var(--primary);
}
.remark-slide-content h3 {
    font-size: 35px;
    color: var(--primary);
}
.remark-code, .remark-inline-code {
  font-family: var(--code-font-family);
}
.remark-inline-code {
  color: var(--text-color);
}
.remark-slide-number {
  color: var(--text-color);
  opacity: 1;
  font-size: 0.9em;
}
strong{color: var(--text-bold-color);}
a, a > code {
  color: var(--text-bold-color);
  text-decoration: none;
}
.footnote {
  position: absolute;
  bottom: 3em;
  padding-right: 4em;
  font-size: 0.8em;
}
.remark-code-line-highlighted {
  background-color: rgba(255,255,0,0.5);
}
.inverse {
  background-color: var(--inverse-background-color);
  color: var(--background-color);
}
.inverse h1, .inverse h2, .inverse h3 {
  color: var(--background-color);
}
.title-slide, .title-slide h1, .title-slide h2, .title-slide h3 {
  color: var(--text-color);
}

.title-slide {
  background-color: var(--primary);
  background-image: url(https://clanfear.github.io/ioc_iqa/_lectures/assets/ioc_entrance_crop.jpg);
  background-size: contain;
  background-position: bottom;
}
.title-slide .remark-slide-number {
  display: none;
}

/* Two-column layout */
.left-column {
  width: 20%;
  height: 92%;
  float: left;
}
.left-column h2, .left-column h3 {
  color: var(--text-color);
}
.left-column h2:last-of-type, .left-column h3:last-child {
  color: var(--text-color);
}
.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}
.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 47%;
}
.pull-right ~ * {
  clear: both;
}
img, video, iframe {
  max-width: 100%;
}
blockquote {
  border-left: solid 5px var(--text-color);
  padding-left: 1em;
}
.remark-slide table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
.remark-slide table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
.remark-slide thead, .remark-slide tfoot, .remark-slide tr:nth-child(even) { background: #C2BFCE }
table.dataTable tbody {
  background-color: #FFFFFF;
  color: #272822;
}
table.dataTable.display tbody tr.odd {
  background-color: #FFFFFF;
}
table.dataTable.display tbody tr.even {
  background-color: #C2BFCE;
}
table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
  color: #272822;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  color: #272822 !important;
}

@page { margin: 0; }
@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}


/* Extra CSS */
.hljs-tomorrow-night-bright .hljs {
  background: #28282B;
  border-radius: 5px;
  padding: 3px;
}

.remark-inline-code {
  background: #85B09A;
  color: #10102c;
  border-radius: 2px;
  padding: 1px;
}
.inverse .remark-inline-code {
  background: #115E67;
  color: #f0f1eb;
  border-radius: 2px;
  padding: 1px;
}
.remark-code-line-highlighted {
  background-color: #3F2A56;
}
sup {
  font-size: 14px;
}
h1 {
  color: var(--text-bold-color);
}
h1 .inverse{
  color: var(--background-color);
}
h1, h2, h3 {
  margin-top: .25em;
  margin-bottom: .25em;
}
a {
  text-decoration: underline;
}

strong {
  text-shadow: 0.5px 0.5px 0.5px black;
}
.inverse strong {
  color: #64A70B;
}
p {
  margin: 16px 0;
}

body {
  line-height: 1.4;
}

/* Ripped blink from stack overflow result */
.blink_me {
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}